@import url('https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap');

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

@keyframes getLonger {
    0% { transform: scaleX(0.4); }
    50% { transform: scaleX(0.7); }
    100% { transform: scaleX(0.4); }
}

@keyframes hoverEffect {
    0% { transform: translateY(-20px); }
    50% { transform: translateY(0); }
    100% { transform: translateY(0px); }
}


body {
    display: flex;
    justify-content: center;
    margin-top: 10vh;
    background-color: #000;
    opacity: 0;
    animation: fadeIn 0.5s ease-in forwards;
    text-shadow: 0 0 15px rgba(200, 200, 200, 0.8), 0 0 50px rgba(255, 255, 255, 0.6);
}

h1 {
  text-align: center;
  font-family: 'Share Tech Mono', monospace;
  font-size: 30px;
  color: #fff;
}

.hovering {
  animation: hoverEffect 7s ease-in;
}

.elongating {
    opacity: 0.9;
    margin-top: 3vh;
    font-size: 50px;
    text-shadow: 0 0 15px rgba(200, 200, 200, 0.8), 0 0 50px rgba(255, 255, 255, 0.6);
    animation: getLonger 7s infinite ease-in-out;
}

